<li>
    {{name}}

    <button class="_________" data-id="{{id}}" data-_____="{{________}}">
        {{#if }}____________{{else}}____________{{/if}}
    </button>

    <button class="_________" data-id="this.id">_______</button>
</li>