<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/top-boardgames/Public/login.html">
    <link rel="stylesheet" href="/top-boardgames/Public/index.html">
    <link rel="stylesheet" href="/top-boardgames/Public/contact.html">
    <link rel="stylesheet" href="/top-boardgames/Public/forum.html">
    <link rel="stylesheet" href="/top-boardgames/Public/recommended.html">
    <title>Board Games!!</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    {{{body}}}

    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
</body>

</html>