<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="/top-boardgames/Public/login.html">
   <link rel="stylesheet" href="/top-boardgames/Public/index.html">
   <link rel="stylesheet" href="/top-boardgames/Public/contact.html">
   <link rel="stylesheet" href="/top-boardgames/Public/forum.html">
   <link rel="stylesheet" href="/top-boardgames/Public/recommended.html">
    <title>Board Games!!</title>
</head>
<body>
    {{{body}}}
</body>
</html>