<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>About Page</title>
</head>

<body>

  <body>
    <!--Navbar-->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        {{!-- <a class="navbar-item" href="https://www.boardgameatlas.com/"> --}}
          <a class="navbar-item" href="https://www.boardgameatlas.com/">
            <i class="fas fa-dice-d20 fa-2x"></i>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
      </div>

      <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item" href="./recommended">
            Recommended
          </a>

          <div class="navbar-item has-dropdown is-hovers">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/about">
                About
              </a>
              <a class="navbar-item" href="/forum">
                Forum
              </a>
              <a class="navbar-item" href="/contact">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/signup">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="/login">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>

  <!--Card Section w/ info-->
  <section class="hero is-link is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About Us
        </h1>
        <h2 class="subtitle">
          We are 5 aspiring full stack web developers! All of us currently attend the DU full stack coding bootcamp.
          In this project 2 we are creating a full stack website using Bulma, Express-Handlebars, MySQL, API routes to
          a boardgame API
          where we will create a database of 100 boardgames to choose from and CSS.
        </h2>
      </div>
    </div>
    <!--Button Links-->
    <div class="buttons">
      <button class="button is-info">Home</button>
      <button class="button is-success">GitHub</button>
    </div>
  </section>
  <!--Footer-->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Top Board Games</strong> by <a href="https://jgthms.com">Team Trenton 1</a>.
      </p>
    </div>
  </footer>

</body>

</html>