<h1>Board Games!!</h1>

<h2>_________________</h2>

<ul>
 
</ul>

<h2></h2>

<ul>
 
</ul>

<h2>Search for Game</h2>
<form id="_______">

  <div class="_________">
  
  </div>

  <div class="form-group">
   
  </div>

  <button type="submit">Search for Game</button>
</form>