<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Top Boardgames</title>

</head>

<body>

    <body>
        <!--Navbar-->
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasic">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasic" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="./about.handlebars">
                        Home
                    </a>

                    <a class="navbar-item" href="./recommended.handlebars">
                        Recommended
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="./about.handlebars">
                                About
                            </a>
                            <a class="navbar-item" href="./forum.handlebars">
                                Forum
                            </a>
                            <a class="navbar-item" href="./contact.handlebars">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="./signup.handlebars">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="./login.handlebars">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </body>
    <section class="section">
        <div class="container">
            <div class="content-has-centered">
                <h1 class="title content-has-centered">
                    Top Board Games
                </h1>
                <p class="subtitle">
                    <strong>Find your new favorite board game!</strong>!
                </p>
            </div>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Find a Board Game!">
                </p>
                <p class="control">
                    <a class="button is-info">
                        Search
                    </a>
                </p>
            </div>
            <!-- <img src="https://images.unsplash.com/photo-1529488127598-5b1512330f89?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1349&q=80" alt="Side shot of board game"> -->
        </div>
    </section>
    <TitleCard>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">Rankings</p>
                            <p class="subtitle">New winners</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">Things and Stuff</p>
                            <p class="subtitle">Explanation tile</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">Rules of the Game</p>
                            <p class="subtitle">Cards and thangs</p>
                            <figure class="image is-4by3">
                                <img
                                    src="https://images.unsplash.com/photo-1529488127598-5b1512330f89?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1349&q=80">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-danger">
                        <p class="title">What's happening this week</p>
                        <p class="subtitle">New Releases</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title">Newsroom</p>
                        <p class="subtitle">New games coming soon!
                            alk;elaf;dafkhs;dfhiaoehf;aksdf;aekjfanaeikjaiokjfa;'nmj;oaikeifghWO:ILEJGa;oikrnjaoergaerglzhOGIT;joawp4905t0qat9g349in
                            fsdaf </p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </TitleCard>
</body>

</html>
<!--Footer-->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Top Board Games</strong> by <a href="https://jgthms.com">Team Trenton 1</a>.
        </p>
    </div>
</footer>
</body>

</html>