</html>
<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
=======
<html>
>>>>>>> 867b748dd785fa64306984351ba47b25e83d6840

<head>
<<<<<<< HEAD
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Top Boardgames</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Page</title>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
>>>>>>> a71a01eedcd62379cede213b470da315c9bfe8dc
</head>

<body>

<<<<<<< HEAD
</body>

</html>
=======
    <body>
        <!--Navbar-->
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://www.boardgameatlas.com/">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasic">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasic" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>

                    <a class="navbar-item">
                        Recommended
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Forum
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <div class="button">
                                <a class="button is-primary" href="/login.html">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-light" href="/login.html">
                                    Log in
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">
                <div class="content-has-centered">
                    <h1 class="title content-has-centered">
                        Top Board Games
                    </h1>
                    <p class="subtitle">
                        <strong>Find your new favorite board game!</strong>!
                    </p>
                </div>
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Find a Board Game!">
                    </p>
                    <p class="control">
                        <a class="button is-info">
                            Search
                        </a>
                    </p>
                </div>
                <!-- <img src="https://images.unsplash.com/photo-1529488127598-5b1512330f89?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1349&q=80" alt="Side shot of board game"> -->
            </div>
        </section>

<div class="columns">
  <div class="column is-half">
    Recommended Board Games
            <li>
                <p>{{RecommendedGames}}</p>
            </li>
  </div>
  <class="column is-half">
       Previously Recommended Board Games
            <li>
                <p>{{PastRecommendedGames}}</p>
            </li>
  </class=>
    
    </body>

</html>

{{!-- <!--Footer-->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Top Board Games</strong> by <a href="https://jgthms.com">Team Trenton 1</a>.
        </p>
    </div>
</footer>
</body>

</html> --}}
>>>>>>> 867b748dd785fa64306984351ba47b25e83d6840
